@using RezRouting.AspNetMvc.UrlGeneration
@using RezRouting.Demos.MvcWalkthrough2.Controllers.Manufacturers
@model RezRouting.Demos.MvcWalkthrough2.Controllers.Manufacturers.CreateModel

@{
    ViewBag.Title = "Create Manufacturer";
}

<form method="POST" action="@(Url.ResourceUrl<ManufacturersController>("Create"))">
    
    @Html.ValidationSummary()

    <div class="form-group">
        @Html.LabelFor(x => x.Input.Name)
        @Html.TextBoxFor(x => x.Input.Name, new { @class = "form-control" })
    </div>
    
    <input class="btn btn-primary" type="submit" value="Create" />

</form>
