@using RezRouting.Demos.MvcWalkthrough3.Controllers.Products.Product
@using RezRouting.Demos.MvcWalkthrough3.Utility
@model RezRouting.Demos.MvcWalkthrough3.Controllers.Home.HomeModel

@{
    ViewBag.Title = "Home";
}

<h2>Latest Products</h2>
<ul>
    @foreach (var product in Model.LatestProducts)
    {
        <li><a href="@Url.ResourceUrl((ProductDetailsController c) => c.Show(product.Id))">@product.Name</a></li>
    }
</ul>

