@model RezRouting.Demos.Crud.Controllers.Products.Product.ShowModel

@{
    ViewBag.Title = Model.Product.Name + " Details";
}

@Html.DisplayFor(x => x.Product)
<div><a href="@Url.Action("Edit", new { id = Model.Product.Id })">Edit</a></div>

