@model RezRouting.Demos.MvcWalkthrough1.Controllers.Reviews.ReviewDetailsModel
@{
    ViewBag.Title = Model.Review.Product.Name + " Review by " + Model.Review.UserName;
}

<p>Review Date: @Model.Review.ReviewDate</p>
<p>Score: @Model.Review.Score</p>
<div class="well">
    @Model.Review.Comments
</div>

