@using RezRouting.AspNetMvc.UrlGeneration
@using RezRouting.Demos.MvcWalkthrough1.Controllers.Products
@model RezRouting.Demos.MvcWalkthrough1.Controllers.Home.HomeModel

@{
    ViewBag.Title = "Home";
}

<h2>Latest Products</h2>
<ul>
    @foreach (var product in Model.LatestProducts)
    {
        <li><a href="@Url.Action("Show", "Products", new { id = product.Id })">@product.Name</a></li>
    }
</ul>
<h2>URL Generation< Examples</h2>
<p><a href="@Url.Action("Index", "Products")">View All</a> - Using existing UrlHelper extension methods: <code>@@Url.Action("Index", "Products")</code></p>
<p><a href="@Url.ResourceUrl(typeof(ProductsController), "Index", null)">View All</a> - Using a built-in RezRouting UrlHelper extension method: <code>@@Url.ResourceUrl(typeof(ProductsController), "Index", null)</code></p> 

