@model RezRouting.Demos.Crud.Controllers.Products.IndexModel

@{
    ViewBag.Title = "Products";
}

<h1>Products</h1>

<ul>
    @foreach (var product in Model.Products)
    {
        <li><a href="@Url.Action("Show", "Product", new { id = product.Id })">@product.Name</a></li>
    }
</ul>

