@using RezRouting.Demos.MvcWalkthrough3.Controllers.Manufacturers
@model TaskModel<CreateManufacturerRequest>

@{
    ViewBag.Title = "Create Manufacturer";
}

<form method="POST" action="@Request.Url.LocalPath">
    
    @Html.ValidationSummary()

    <div class="form-group">
        @Html.LabelFor(x => x.Request.Name)
        @Html.TextBoxFor(x => x.Request.Name, new { @class = "form-control" })
    </div>
    
    <input class="btn btn-primary" type="submit" value="Create" />

</form>
